{% extends "template.html" %}
{% block content %}
    <form action="/reportIssue">
    <input type="submit" value="Submit an Issue" />
    </form>
    
	<div class="container-fluid">
    {% if submissions|length > 0 %}
        <table class="table">
            <thead>
                <th>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Location</th>
                  <th scope="col">Date Submitted</th>
                  <th scope="col">Resolved?</th>
                    {% if admin %}
                  <th scope = "col">Mark as fixed</th>>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
        {% for s in submissions %}
                <tr>
                  <td>{{ s.id }}</td>
                  <td>{{ s.issue_title }}</td>
                  <td>{{ s.location }}</td>
                  <td>{{ s.date_submitted }}</td>
                    {% if s.fixed == true %}
                  <td> <i class="fas fa-check"></i> </td>
                    {% else %}
                  <td> <i class="fas fa-times"></i> </td>
                        {% if admin %}
                        <td>
                        <div class="form-check">
                            <input type="checkbox" onchange='handleChange(this)' class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Solved</label>
                            <script>
                                function handleChange(checkbox) {
                                    if(checkbox.checked == true){
                                        console.log('checked checkbox');
                                        //$(this).disabled = true;
                                        console.log({{s.id}});
                                        $.ajax({
                                            type : "POST",
                                            url : "/fixed",
                                            data: JSON.stringify({ id:{{s.id}}  }),
                                            contentType: 'application/json',
                                            success: function(result) {
                                               if(result === "True"){
                                                    $.notify("Notified the user about the solved issue", "success");
                                               }else{
                                                    $.notify("Error notifying the user", "danger");
                                                }
                                            }
                                        });
                                    }
                                  }
                                
                            </script>
                        </div>
                        </td>
                        {% endif %}
                    {% endif %}

                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4> There doesn't seem to be any issues at the moment! If you see something wrong, be sure to post it! </h4>
    {%  endif %}
	</div>
{% endblock %}
