{% extends "template.html" %}
{% block content %}
<div class="container">
    <form action="/reportIssue">
    <input class="btn btn-default"  type="submit" value="Submit an Issue" style='width:100%' />
    </form>

    {% if submissions|length > 0 %}
        <table class="table">
            <thead>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Location</th>
                  <th scope="col">Date Submitted</th>
                  <th scope="col">Resolved?</th>
                    {% if admin %}
                  <th scope = "col">Mark as fixed</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for s in submissions %}
                    <tr class="clickable">
                      <td  data-toggle="modal" data-target="#modal{{s.id}}">{{ s.id }}</td>
                      <td  data-toggle="modal" data-target="#modal{{s.id}}">{{ s.issue_title }}</td>
                      <td  data-toggle="modal" data-target="#modal{{s.id}}">{{ s.location }}</td>
                      <td  data-toggle="modal" data-target="#modal{{s.id}}">{{ s.date_submitted }}</td>
                    {% if s.fixed == true %}
                  <td  data-toggle="modal" data-target="#modal{{s.id}}"> <i class="fas fa-check"></i> </td>
                    {% else %}
                  <td  data-toggle="modal" data-target="#modal{{s.id}}"> <i class="fas fa-times"></i> </td>
                        {% if admin %}
                        <td>
                        <div class="form-check">
                            <input type="checkbox" onchange='handleChange(this)' class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Solved</label>
                            <script>
                                function handleChange(checkbox) {
                                    if(checkbox.checked == true){
                                        console.log('checked checkbox');
                                        //$(this).disabled = true;
                                        console.log({{s.id}});
                                        $.ajax({
                                            type : "POST",
                                            url : "/fixed",
                                            data: JSON.stringify({ id:{{s.id}}  }),
                                            contentType: 'application/json',
                                            success: function(result) {
                                               if(result === "True"){
                                                    $.notify("Notified the user about the solved issue", "success");
                                               }else{
                                                    $.notify("Error notifying the user", "danger");
                                                }
                                            }
                                        });
                                    }
                                  }
                                
                            </script>
                        </div>
                        </td>
                        {% endif %}
                    {% endif %}

                    </tr>
                    <div class="modal fade" id="modal{{s.id}}">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header clickable" onclick="window.location = '/issue/{{s.id}}'">
                            <h4 class="modal-title">{{s.issue_title}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                            <div class="card mt-4">
                							{% if s.image is defined %}
                	            	<img class="card-img-top img-fluid" src="http://petfinder.kz/images/no-photo.jpg" alt="">
                							{% else %}
                								<img class="card-img-top img-fluid" src="{{s.image}}" alt="">
                							{% endif %}

                	            <div class="card-body">
                	              <h3 class="card-title">Description:</h3><p>{{s.issue_description}}
                                <hr>
                	              <p class="card-text">Location: {{s.location}}</p>
                	            </div>
                						</div>
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <div class="mr-auto"> Submission date: {{s.date_submitted}} </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>

                        </div>
                      </div>
                    </div>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4> There doesn't seem to be any issues at the moment! If you see something wrong, be sure to post it! </h4>
    {%  endif %}
	</div>
</div>
{% endblock %}
