{% extends "template.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">Log In</h1>
    <form action="/login" method="post" name="login" class="text-centers">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">

            	<label>Log In</label>

                {% if form.email.errors %}
                    {{ form.email(placeholder='Email', class='form-control is-invalid') }}
                {% else %}
                    {{ form.email(placeholder='Email', class='form-control') }}
                {% endif %}

            {% for error in form.email.errors %}
                <div class="invalid-feedback d-flex">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label>Password</label>
            {% if form.password.errors %}
                {{ form.password(placeholder='Password', class='form-control is-invalid') }}
            {% else %}
                {{ form.password(placeholder='Password', class='form-control') }}
            {% endif %}
            {% for error in form.password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="text-center">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>
{% endblock %}
