{% extends "template.html" %}
{% block content %}
    <h1 class="text-center">Register</h1>
    <form action="/register" method="post" name="register" class="text-centers">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Register </div>
                {% if form.email.errors %}
                    {{ form.email(placeholder='Email', class='form-control is-invalid') }}
                {% else %}
                    {{ form.email(placeholder='Email', class='form-control') }}
                {% endif %}
            </div>
            {% for error in form.email.errors %}
                <div class="invalid-feedback d-flex">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label>Password</label>
            {% if form.password.errors %}
                {{ form.password(placeholder='Password', class='form-control is-invalid') }}
            {% else %}
                {{ form.password(placeholder='Password', class='form-control') }}
            {% endif %}
            {% for error in form.password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            {% if form.confirm.errors %}
                {{ form.confirm(placeholder='Password', class='form-control is-invalid') }}
            {% else %}
                {{ form.confirm(placeholder='Password', class='form-control') }}
            {% endif %}
            {% for error in form.confirm.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="text-center">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
{% endblock %}
